@import './variables.scss';
@import url('https://fonts.googleapis.com/css?family=Public+Sans:300,400,600,700&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 16px;
    font-family: $font-main;
    line-height: $lh-body;
    background-color: lighten($light-grey, 10);
}

.wrapper {
    max-width: $max-width;
    padding: $m4;
    width: $width;

    @media(min-width:$bp-medium) {
        padding: $m4 $m3;
    }
    @media(min-width:$bp-large) {
        padding: $m4 $m2;
    }
}

main:not(.home) {
    margin-top: 8rem;
}

.fixed{
    position: fixed;
    top: 0;
    left: 0; 
    right: 0;
    box-shadow: 0 0 8px rgba($grey, .5);
    border-bottom: 1px solid darken($primary-bg, 5);
    z-index: 2;
}

a:link {
    text-decoration: none;
}

p {
    font-size: $f4;
    font-weight: 100;
}

h1 {
    font-size: $f2;
    font-weight: 700;
    line-height: $lh-heading;
    letter-spacing: -0.025em;
}

.small {
    color: $medium-grey;
    font-size: $f5;
    margin-top: $m7;
}

@mixin button($color, $bg) {
    background-color: $bg;
    border: 0;
    border-radius: .2rem;
    color: $color;
    cursor: pointer; 
    font-size: $f5;
    font-weight: 500;
    padding: $m5 $m4;
    text-transform: uppercase;
    text-decoration: none;
    transition: all ease-in-out .3s;

    &:hover {
        background-color: darken($bg, 3);
        color: darken($color, 3)
    }
}

.tag {
    text-transform: uppercase;
    font-size: $f4;
    font-weight: 600;
    color: $primary-bg;
    background: $light-grey;
    display: inline;
    padding: $m7 $m6;
    border-radius: .2rem;
}


.btn {
    @include button($white, $dark-primary);
}