//colors
$primary-bg: #63e0c8;
$dark-primary: #17ae8e;
$super-dark-primary: #3c7f72;
$white: #fff;
$dark: #1c2329;
$grey: #3a434d;
$gradient: linear-gradient(157deg,#17ae8e,#3c7f72);

//structure
$width: 100%;
$max-width: 96rem;

//measure
$m1: 8rem;
$m2: 6.4rem;
$m3: 3.2rem;
$m4: 1.6rem;
$m5: .8rem;
$m6: .4rem;
$m7: .2rem;

//fonts family
$font-main: 'Public Sans', sans-serif;

//font sizes
$f1: 5.6rem;
$f2: 3.6rem;
$f3: 2.4rem;
$f4: 1.4rem;
$f5: 1rem;


//Line height
$lh-heading: 1.1;
$lh-body: 1.5;