//colors
$primary-bg: #63e0c8;
$dark-primary: #17ae8e;
$white: #fff;
$dark: #1c2329;
$grey: #3a434d;
$medium-grey: #929292;
$light-grey: #e0e0e0;
$gradient: linear-gradient(157deg,#17ae8e,#3c7f72);
$blue: rgb(21, 108, 190);

//structure
$width: 100%;
$max-width: 88rem;

// Media queries
$bp-x-small: 400px;
$bp-small: 600px;
$bp-medium: 800px;
$bp-large: 1000px;
$bp-x-large: 1200px;

//measure
$m1: 8rem;
$m2: 6.4rem;
$m3: 3.2rem;
$m4: 1.6rem;
$m5: .8rem;
$m6: .4rem;
$m7: .2rem;

//fonts family
$font-main: 'Public Sans', sans-serif;

//font sizes
$f1: 3.2rem;
$f2: 2.4rem;
$f3: 1.5rem;
$f4: 1.2rem;
$f5: 1rem;


//Line height
$lh-heading: 1.1;
$lh-body: 1.5;

