@import '../../globalStyles/variables.scss';

.phone-detail {
    .wrapper {
        display: flex;
        flex-wrap: wrap;

        > div  {
            width: 100%;
        }

        .image {
            img {
                width: 100%;
            }
        }

        .content {
            padding: $m3 0;

            h1 {
                color: $grey;
            }

            h2 {
                color: $dark-primary
            }

            h1, h2 {
                margin-top: $m6;
            }

            .characteristics {
                border-top: 1px solid $light-grey;
                margin-top: 2rem;

                .color {
                    width: $m3;
                    height: $m3;
                    border-radius: 50%;
                    border: 3px solid $white;
                    box-shadow: 0 0 4px rgba($grey, .25);
                    padding: $m6;
                }

                ul {
                    margin-left: 0;
                    padding: 0;
                    list-style: none;
                    
                    li span {
                        font-weight: 500;
                    }
                }
            }
        }

        @media(min-width:$bp-medium) {

            > div  {
                width: 50%;
            }
            .content {
                padding: $m3;
            }
        }
    }

    
}



