@import '../../globalStyles/variables.scss';

main.home {
    background: $primary-bg;
    color: $dark;
    height: 88vh;

    .wrapper{
        height: 100%;
        display: flex;
        align-items: flex-start;
        z-index: 1;
        padding-bottom: $m1;

        .content {
            align-self: center;
            width: 50%;
            
            p {
                margin-bottom: $m3;
            }
        }

        .image {
            width: 50%;
            position:relative;

            img {
                width: 100%;
                position: absolute;
                max-width: 48rem;
                top: -4rem;
                right: -4rem;
            }
        }
    }
}
