@import '../../globalStyles/variables.scss';

main.home {
    background: $primary-bg;
    color: $dark;
    min-height: 88vh;

    .wrapper{
        padding-top: 0;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        align-items: flex-start;
        z-index: 1;
        padding-bottom: $m1;

        > div {width: 100%}

        .content {
            align-self: center;
            
            p {
                margin-bottom: $m3;
            }
        }

        .image {
            position:relative;

            img {
                width: 100%;
                position: relative;
                max-width: 20rem;
                margin: 0 auto;
                display: flex;
            }
        }
        // height: 100%;
        // display: flex;
        // align-items: flex-start;
        // z-index: 1;
        // padding-bottom: $m1;

        // .content {
        //     align-self: center;
        //     width: 50%;
            
        //     p {
        //         margin-bottom: $m3;
        //     }
        // }

        // .image {
        //     width: 50%;
        //     position:relative;

        //     img {
        //         width: 100%;
        //         position: absolute;
        //         max-width: 48rem;
        //         top: -4rem;
        //         right: -4rem;
        //     }
        // }

        @media(min-width:$bp-medium) {
            flex-direction: row;
            > div {width: 50%;}

            .image {
                width: 50%;
                position:relative;

                img {
                    width: 100%;
                    position: absolute;
                    max-width: 48rem;
                    right: -2rem;
                }
            }
        }

        @media(min-width:$bp-large) {
            .image img{
                top: -4rem;
            }
        }

    }
}

