@import '../../globalStyles/variables.scss';

.phone-card {
    box-shadow: 0 0 4px transparentize($grey, .8);
    border-radius: .2rem;
    padding: $m6 $m4 $m4;
    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all ease-in .3s;

    a:link {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .phone-image {
        min-height: 22rem;
        display: flex;
        align-self: center;

        img {
            max-width: 17rem;
            width: 100%;
            align-self: center;
        }    
    }

    h2 {
        color: $dark-primary;
        margin: 0;
    }

    &:hover {
        transform: scale(1.025);
        z-index: 1;
        background-color: $white;
        box-shadow: 0 0 2px transparentize($grey, .6);
    }
}



// "id": 1,
// "name": "Galaxy S7",
// "manufacturer": "Samsung",
// "description": "Introducing the smartphone your life can not do without, The Samsung Galaxy S7. Packed with features to keep you both productive and entertained, all in a sleek, slim design that fits comfortably in your hand or pocket.",
// "color": "grey",
// "price": 209,
// "imageFileName": "Galaxy_S7.png",
// "screen": "5,1 inch Quad-HD",
// "processor": "Snapdragon 820",
// "ram": 4