@import '../../globalStyles/variables.scss';

nav {
    padding: $m4;
    background-color: $primary-bg;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo img{
        max-width:12rem;
        height: 2.4rem;
    }

    .menu {
        display: flex;
        list-style: none;
        font-size: $f5;
        margin: 0 0 $m6;

        li {
            margin-right: $m5;

            &:last-child {
                margin-right: 0;
            }

            a {
                color: $dark;
            }
        }
    }

    @media(min-width:$bp-medium) {
        padding: $m4 $m3;
    }
    @media(min-width:$bp-large) {
        padding: $m4 $m2;
    }
}
